.container {
    width: 100%;
    min-height: 47px;

    background-color: #151515;


    display: flex;
    justify-content: space-between;

    padding: .4rem 3rem;

    .img {
        width: 120px;
        height: 100%;

        cursor: pointer;
    }

    .btn {
        display: flex;
        align-items: center;

        gap: 1rem;
        button {
            height: 22px;

            background-color: #808080;
            color: #FFF;
            border: none;
            border-radius: 11px;

            padding: .2rem 2rem;

            transition: .3s;
            cursor: pointer;

            &:hover {
                scale: 1.02;
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;

        gap: 1rem;
    }
}