.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding: 7rem 5rem;

    gap: 4rem;

    h1 {
        width: 380px;
        padding: 2rem;
    }

}

@media (max-width: 460px) {
    .container {
        padding: 2rem;
    }
}